<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>

<body>
<h1>Blade 账号密码模式</h1>
<form action="/simple/logined" method="post" style="text-align: center">
    <p>用户名：<input type="text" name="username">jap1</p>
    <p>密码：<input type="password" name="password">jap1</p>
    <label><input type="submit" value="登录"></label>
    <label><input type="checkbox" name="rememberMe"></label>
</form>
<script type="text/javascript">
    function getRootPath() {
        var curPageUrl = window.document.location.href;
        var rootPath = curPageUrl.split("//")[0] + curPageUrl.split("//")[1].split("/")[0]
            + "/" + curPageUrl.split("//")[1].split("/")[1];
        return rootPath;
    }
</script>
</body>
</html>